#principal{
    grid-column: span 3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr;
    gap: $tam-base * 2;
    
    #novedades{
        article{
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(2, 1fr);

            .imgArticle{
                object-fit: cover;
                
                img{
                    height: 100%;
                    width: 100%;
                }
                
            }

            .contenido{
                padding: $tam-base  ;
                display: grid;
                h4{              
                    font-size: 2*$tam-base;
                    text-align: end;
                }

                h3{
                    font-size: 3*$tam-base;
                }

                div{
                    line-height: 1.5;
                }
            }
        }

        article:nth-child(odd){

            .imgArticle{
                order: 0; /* Las priopiedades order van a tener efecto si el contenedor es grid o flex */    
            }
            .contenido{
                order: 1;
            }
        }

        article:nth-child(even){

            .imgArticle{
                order: 1;
            }
            .contenido{
                order: 0;
            }
        }

        article:last-child{
            
            .contenido{
                grid-column: span 2;
            }

        }
    }
}