@import url('https://fonts.googleapis.com/css?family=Roboto:400,100');

$fondo_oscuro: rgb(10,18,36);
$azul_oscuro: rgb(18,32,61);
$rosa: rgb(166,0,69);
$verdoso: rgb(20,108,97);
$anaranjado: rgb(160,82,14);
$azul_claro: rgb(38,131,174);
$azul_logos: rgb(80,101,130);
$blanco: rgb(245, 236, 236);	
$gris:rgb(128,128,128);

$tam-base: 1rem;

$tipografia: 'Roboto';