@use "sass:color";
@use "sass:math";

/* Importación de código de secciones */
@import "reset";
@import "variables.scss";
@import "header.scss";
@import "principal.scss";
@import "aside.scss";
@import "contacto.scss";
@import "footer.scss";


/* Estilos generales */

*{
    font-family: $tipografia;
    font-weight: 100;
   /* Ajusta font-weight de acuerdo a la captura mostrada */
}

body{
    background-color: $fondo_oscuro;
}

#contenedor{
    padding: 0em $tam-base * 5;
    color: $blanco;
}

main{
    padding: $tam-base * 2 0px;
    display: grid;
    gap: $tam-base * 2;
    grid-template-columns:1fr 3fr 1fr;
}

.rosa{
    background-color: $rosa;
}

.azulado{
    background-color: $verdoso;
}

.naranja{
    background-color: $anaranjado;
}

.naranja{
    background-color: $anaranjado;
}

.azulin{
    background-color: $azul_claro;
}