@charset "UTF-8";
/* Rejilla responsive: 
*     -1 columna en resoluciones pequeñas
*      - 3 puntos de ruptura para resoluciones medianas (md), grandes (lg) y muy grandes (xl)
*      - Todas ellas con 12 columnas
*  Cada elemento a maquetar en columnas debe ser .contenedor
* Los elementos .res-col-XX ocupan XX columnas.
* Incluye clases .margin-XX para indicar el margen izquierdo
*/
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.contenedor {
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
  column-gap: 1em;
}

@media screen and (max-width: 759px) {
  .col-sm-1 {
    grid-column-end: span 1;
  }
  .margin-sm-1 {
    grid-column-start: 2;
  }
  .col-sm-2 {
    grid-column-end: span 2;
  }
  .margin-sm-2 {
    grid-column-start: 3;
  }
  .col-sm-3 {
    grid-column-end: span 3;
  }
  .margin-sm-3 {
    grid-column-start: 4;
  }
  .col-sm-4 {
    grid-column-end: span 4;
  }
  .margin-sm-4 {
    grid-column-start: 5;
  }
  .col-sm-5 {
    grid-column-end: span 5;
  }
  .margin-sm-5 {
    grid-column-start: 6;
  }
  .col-sm-6 {
    grid-column-end: span 6;
  }
  .margin-sm-6 {
    grid-column-start: 7;
  }
  .col-sm-7 {
    grid-column-end: span 7;
  }
  .margin-sm-7 {
    grid-column-start: 8;
  }
  .col-sm-8 {
    grid-column-end: span 8;
  }
  .margin-sm-8 {
    grid-column-start: 9;
  }
  .col-sm-9 {
    grid-column-end: span 9;
  }
  .margin-sm-9 {
    grid-column-start: 10;
  }
  .col-sm-10 {
    grid-column-end: span 10;
  }
  .margin-sm-10 {
    grid-column-start: 11;
  }
  .col-sm-11 {
    grid-column-end: span 11;
  }
  .margin-sm-11 {
    grid-column-start: 12;
  }
  .col-sm-12 {
    grid-column-end: span 12;
  }
  .hidden-sm {
    display: none;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .col-md-1 {
    grid-column-end: span 1;
  }
  .margin-md-1 {
    grid-column-start: 2;
  }
  .col-md-2 {
    grid-column-end: span 2;
  }
  .margin-md-2 {
    grid-column-start: 3;
  }
  .col-md-3 {
    grid-column-end: span 3;
  }
  .margin-md-3 {
    grid-column-start: 4;
  }
  .col-md-4 {
    grid-column-end: span 4;
  }
  .margin-md-4 {
    grid-column-start: 5;
  }
  .col-md-5 {
    grid-column-end: span 5;
  }
  .margin-md-5 {
    grid-column-start: 6;
  }
  .col-md-6 {
    grid-column-end: span 6;
  }
  .margin-md-6 {
    grid-column-start: 7;
  }
  .col-md-7 {
    grid-column-end: span 7;
  }
  .margin-md-7 {
    grid-column-start: 8;
  }
  .col-md-8 {
    grid-column-end: span 8;
  }
  .margin-md-8 {
    grid-column-start: 9;
  }
  .col-md-9 {
    grid-column-end: span 9;
  }
  .margin-md-9 {
    grid-column-start: 10;
  }
  .col-md-10 {
    grid-column-end: span 10;
  }
  .margin-md-10 {
    grid-column-start: 11;
  }
  .col-md-11 {
    grid-column-end: span 11;
  }
  .margin-md-11 {
    grid-column-start: 12;
  }
  .col-md-12 {
    grid-column-end: span 12;
  }
  .hidden-md {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .margin-lg-1 {
    grid-column-start: 2;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .margin-lg-2 {
    grid-column-start: 3;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .margin-lg-3 {
    grid-column-start: 4;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .margin-lg-4 {
    grid-column-start: 5;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .margin-lg-5 {
    grid-column-start: 6;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .margin-lg-6 {
    grid-column-start: 7;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .margin-lg-7 {
    grid-column-start: 8;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .margin-lg-8 {
    grid-column-start: 9;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .margin-lg-9 {
    grid-column-start: 10;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .margin-lg-10 {
    grid-column-start: 11;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .margin-lg-11 {
    grid-column-start: 12;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .hidden-lg {
    display: none;
  }
}
@media screen and (max-width: 759px) {
  /* Ejemplo de uso media query para resoluciones SMALL */
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  /* Ejemplo de uso media query para resoluciones MEDIUM */
}
@media screen and (min-width: 1200px) {
  /* Ejemplo de uso media query para resoluciones LARGE */
}
* {
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
}

h1 {
  font-size: 3em;
}

header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

nav li:hover {
  background-color: #0099cc;
}

aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* Estilos relativos al menú responsive */
#hamburguesa {
  background-color: #0099cc;
}

@media screen and (max-width: 759px) {
  #menu-responsive li:not(:first-child) {
    display: none;
  }
  #menu-responsive.responsive li {
    display: block;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  #hamburguesa {
    display: none;
    visibility: hidden;
  }
  #menu-responsive li:not(:first-child) {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  #hamburguesa {
    display: none;
    visibility: hidden;
  }
  #menu-responsive li:not(:first-child) {
    display: block;
  }
}