@import "reset";

$tam-base: 1rem;

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header,
nav,
article,
aside,
footer {
    padding: $tam-base;
    ;
}

#contenedor {
    display: grid;
    gap: 1em;
}

header {
    background-color: #e0e0e0;
}

nav {
    background-color: #6ab5ff;

    ul {
        display: grid;
        grid-auto-flow: column;

        li {
            background-color: #929ed3af;
            padding: $tam-base;
        }
    }
}

main{
    display: grid;
    grid-auto-flow: column;
}

.articulo1 {
    background-color: rgba(255, 217, 0, 0.568);
}

.articulo1, aside{
    gap: 1em;
    display: grid;
    grid-template-rows: auto 1fr;
}

.contenido {
    display: grid;
    gap: 1em;
    div {
        padding: $tam-base;
    }
}

.articulo2 {

    .imagenes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        .corto {
            grid-column: span 1;
        }

        .largo {
            grid-column: span 3;
        }

        img{
            object-fit: cover;
            height: 40vh;
            width: 100%;
        }

    }
}


.contenido {

    div {

        background-color: #dddd00;

    }

}

aside {
    
    background-color: #e0e0e0;

    .contenido {


        div {
            padding: $tam-base;

        }
    }

}

footer {
    background-color: rgba(137, 43, 226, 0.658);
}