#banner {
    //grid-column: 2 /12;
    display: grid;
    grid-column-gap: 2em;
    //grid-template-columns: 1fr 1fr;
    background-color: white;
    box-shadow: 0px 12px 1px -5px #ebe4e4;
    padding: 1em;
}

#banner .adorno {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    margin: 0px;
}

#banner .texto {
    display: grid;
    gap: 1em;
}

#banner h1 {
    color: $azul;
}

#banner p {
    color: $gris;
}

#banner .boton {
    background-color: $azul;
    color: white;
    border-radius: .5em;
    padding: 1em;
    justify-self: start;
}