footer {
    background-color: $grisClaro;
}

footer nav {}

footer nav ul {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer nav ul li {
    list-style-type: none;
    text-align: center;
}

footer nav ul li a {
    text-decoration: none;
    color: $azul;
}

footer nav ul li a:hover {
    text-decoration: underline;
}