#formulario{
    background-color: white;
    box-shadow: 0px 12px 1px -5px #ebe4e4;
    border-radius: 5px;
}

#formulario .boton{
    background-color: #008cc6;
    color: white;
    border-radius: 0.5em;
    padding: 1em;
}