header {
    grid-column-end: span 12;
    display: grid;
    //grid-template-columns: 1fr 3fr;
}


.logo {
    background-image: url(img/logo.png);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0px;
}

header nav ul {
    display: grid;
    //grid-template-columns: repeat(4, 1fr);

}

header nav li {
    list-style-type: none;
    text-align: center;
}

header nav a {
    width: 100px;
    height: 75px;
    display: inline-block;
    background-size: 40px 40px;
    background-position: 50% 20%;
    background-repeat: no-repeat;

    text-decoration: none;
    color: white;
    padding-top: 50px;

    border-radius: .5em;
}

header nav a:hover {
    opacity: 70%;
}

header .home {
    background-image: url(img/menu/home.png);
    background-color: $azul;
}

header .about {
    background-image: url(img/menu/about.png);
    background-color: $rojo;
}

header .blog {
    background-image: url(img/menu/blog.png);
    background-color: $naranja;
}

header .contact {
    background-image: url(img/menu/contact.png);
    background-color: $verde;
}