@import "reset.css";
@import "variables.scss";
@import "banner.scss";
@import "header.scss";
@import "main.scss";
@import "article.scss";
@import "seccion.scss";
@import "formulario.scss";
@import "footer.scss";


@font-face {
    font-family: Stellar;
    src: url(font/Stellar-Regular.otf);
}

* {
    box-sizing: border-box;
    font-family: Stellar;
}

#wrapper {
    background-color: $blanco;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2em;
    padding: 1em;
}

.boton:hover {
    opacity: 70%;
}

.more {
    width: 48px;
    height: 48px;
    background-image: url(img/boton/more.png);
    border-radius: 24px;
    border: 1px solid white;
    justify-self: end;
}

.more:hover {
    opacity: 70%;
}

.centrado{
    display: flex;
    justify-content: center;
}

// --responsivo--

$columnas: 12;
$espacio-filas: 1em;
$espacio-columnas: 1em;

$breakpoints: (
    "md":(false, 759px),
    "lg":(760px, 1199px),
    "xl":(1200px, false)
);

*{
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.contenedor{
    display: grid;
    padding:$espacio-filas;
    grid-template-columns: repeat($columnas,1fr);
    row-gap:$espacio-filas;
    column-gap:$espacio-columnas;
}


[class*="col-"] {
    padding: 1em;
    grid-column-end: span 12;
}


@mixin breakpoint($min,$max){ 
    @if($min==false){
        @media screen and (max-width:$max) {
                @content;
        }
    }

    @else if($max==false){
        @media screen and (min-width:$min) {
            @content;
        }
       }

    @else{
        @media screen and (min-width:$min) and (max-width:$max){
            @content;
        }
       }
    }

 


@each $nombre,$res in $breakpoints{
    $min:nth($res,1);
    $max:nth($res,2);

    @include breakpoint($min,$max){
        @for $i from 1 through $columnas {
            .col-#{$nombre}-#{$i}{grid-column-end: span $i};
            @if($i != $columnas){
                .margin-#{$nombre}-#{$i}{grid-column-start: $i + 1};
            }
        }
    .hidden-#{$nombre}{ display:none;}
    }
}

@each $nombre,$res in $breakpoints{
    $min:nth($res,1);
    $max:nth($res,2);

    @include breakpoint($min,$max){
        @for $i from 1 through $columnas {
            .col-#{$nombre}-#{$i}{grid-column-end: span $i};
            @if($i != $columnas){
                .margin-#{$nombre}-#{$i}{grid-column-start: $i + 1};
            }
        }
    .hidden-#{$nombre}{ display:none;}
    }
}

@include breakpoint(nth(map-get($breakpoints,"md"),1),nth(map-get($breakpoints,"md"),2)){
    /* Ejemplo de uso media query para resoluciones SMALL */
    .elemento_menu{
        background-image: none !important;
        height: 100%;
        width: 100%;
        padding: 1em;
    }

    footer nav ul {
        justify-content: space-around;
    }

    #banner h1{
        padding: 0;
        margin: 0;
    }

    #banner .texto{
        padding: 0;
        margin: 0;
    }

    .logo{
        height: 8em;
        background-image: url(img/logo_small.png);
    }
    .imgBlog{
        height: 16em;
    }
} 

@include breakpoint(nth(map-get($breakpoints,"lg"),1),nth(map-get($breakpoints,"lg"),2)){
   /* Ejemplo de uso media query para resoluciones MEDIUM */
    footer nav ul {
        justify-content: space-around;
    }

    #banner h1{
        padding: 0;
        margin: 0;
    }

    #banner .texto{
        padding: 0;
        margin: 0;
    }

    .logo{
        height: 13em;
    }

    .imgBlog{
        height: 12em;
    }
} 

@include breakpoint(nth(map-get($breakpoints,"lg"),1),nth(map-get($breakpoints,"xl"),2)){
    /* Ejemplo de uso media query para resoluciones LARGE */
}

#hamburguesa{
    background-color:#0099cc;
}

#menu-responsive li:not(:first-child){
    display:none;
}

@include breakpoint(nth(map-get($breakpoints,"md"),1),nth(map-get($breakpoints,"md"),2)){
    .responsive li{
        display:block !important;    
    }
} 

@include breakpoint(nth(map-get($breakpoints,"lg"),1),nth(map-get($breakpoints,"lg"),2)){
    #hamburguesa{
        display:none;
        visibility: hidden;
    }

    #menu-responsive li:not(:first-child){
        display:block !important;
    }
} 

@include breakpoint(nth(map-get($breakpoints,"xl"),1),nth(map-get($breakpoints,"xl"),2)){
    #hamburguesa{
        display:none;
        visibility: hidden;
    }

    #menu-responsive li:not(:first-child){
        display:block !important;
    }
} 