footer{
    font-family: $tipografiaTitulos;
    padding: $tam-base * 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    color: $blanco;
    font-size: $tam-base * 2;
    background: url("./img/footer/fondo.svg") no-repeat 50% 50%/100% 100%;

    .rare-logo{
        width: 34px;
    }

    #trabaja{
        background-image: url("img/footer/equipo.png");

        height: 290px;
        width: 379px;
        font-size: 14px;
        text-transform: uppercase;

        p{
            color: $gris;
            position: relative;
            top: 56%;
            left: 10%;
            font-size: $tam-base * 1.3;
        }
    }
}