#spam {
    grid-column: 2;
    text-align: center;
    color: black;
    font-family: $tipografiaTitulos;
    font-size: $tam-base * 2.3;
    padding: $tam-base * 17;
    background-image: url("./img/spam/fondo.jpg");
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

#spam:hover {
    transform: rotateY(180deg);
    background-image: none;
    background-image: url("./img/fondo-entrada.svg");
    h3{
        display: none;
    }
}

#spam .content {
    position: relative;
    opacity: 1;
    transition: opacity 0.5s;
}

#spam:hover .content {
    opacity: 0;
}

#spam form {
    display: none;
    transform: rotateY(180deg);
    /* Rotación del formulario cuando está en el lado posterior */
    transform-origin: center;
}

button{
    font-family: $tipografiaTitulos;
    padding: $tam-base;
}

input{
    margin: $tam-base;
}


#spam:hover form {
    display: block;
    /* Asegúrate de que el formulario sea visible cuando se gire */
    transform: rotateY(0deg) rotate(0deg, 0deg); /* Corrección de rotación para el formulario */
}
