@use "sass:color";
@use "sass:math";

/* Importación de código de secciones */
@import "reset";
@import "variables.scss";
@import "header.scss";
@import "principal.scss";
@import "aside.scss";
@import "spam.scss";
@import "footer.scss";


/* Estilos generales */

*{
    font-weight: 100;
}

h1 h2 h3 {
    font-family: $tipografiaTitulos;
}

body{
    background-color: $fondo_oscuro;
}

#contenedor{
    color: $blanco;
}

main{
    padding: $tam-base * 2 0px;
    display: grid;
    gap: $tam-base * 2;
    grid-template-columns:1fr 3fr 1fr;
}