.container {
  display: flex;
}

.boton {
  width: 10em;
  height: 10em;
}

#caja1 {
  background-color: rgb(0, 0, 255);
}

#caja2 {
  background-color: #0028ff;
}

#caja3 {
  background-color: #0050ff;
}

#caja4 {
  background-color: #0078ff;
}