
#cabecera{
    background-color:$color-fondo1;
    
    .logo{
        font-size:2*$tam-base;
        color:$color-titulo;
    }

    nav{
        
        ul{
          display: flex;
          justify-content: space-around;
            li{
                a{
                color:$color-letra1;
                font-size:1.5*$tam-base;
                &:hover{
                    color:$color-botones;
                    transition: color 1s;
                }
                } 
            }
        }
    }
} 