@import "_rejilla.scss";
@import "_globales.scss";
@import "reset";
@import "_cabecera.scss";
@import "_banner.scss";
@import "_servicios.scss";
@import "_portfolio.scss";
@import "_about.scss";
@import "_contratame.scss";
@import "_contacto.scss";
@import "_hamburguesa.scss";




@font-face{
    font-family: $tipografia;
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}

*{
    font-family: $tipografia; 
} 

 