.contenedor {
  display: flex;
}

@font-face {
  font-family: "SedgwickAveDisplay-Regular";
  src: url("font/SedgwickAveDisplay-Regular.ttf");
}
body, input, textarea, select {
  font-family: "SedgwickAveDisplay-Regular";
}

.contenedor .caja {
  margin: 10px;
}
.contenedor .caja {
  color: rgb(0, 0, 0);
}
.contenedor .caja1 {
  background-color: rgb(235, 247, 230);
  transform: translate(20px, 0px);
}
.contenedor .caja2 {
  background-color: rgb(233, 236, 243);
  transform: rotate(20deg);
}
.contenedor .caja3 {
  background-color: rgb(248, 219, 201);
  transform: translate(20px, 20px);
}
.contenedor .caja4 {
  background-color: rgb(255, 255, 155);
  transform: scale(2);
}