
$tipografia-titulo: "Lobster";
$tipografia-general: "Lato";

$verde: #1FD1AC;
$azul-oscuro: #34495E;
$morado: #4B215B;
$gris: #ACB1B5;
$gris-claro:#ECF0F1;
$negro:#2B2B2B;
$blanco:#F7F7F7;
$amarillo: #F0C40F;
$naranja:#E68727;
$rojo: #E84C3F;
$menu-resaltado: #15846D;
$tam-base:1rem;