@import "reset";

body{
    background: linear-gradient(45deg, #ababeb,#e1e1e9);
}

#contenedor{
    padding:2em;
    img{
        border-radius:50%;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        transition:all 0.5s;
        &:hover{
            transform:scale(1.05);
        }
    }
 }



     

