footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(46, 46, 46);
    padding: $tam-base * 0.5;
    color: white;

    ul{
        display: flex;
        gap: $tam-base;
    }
}