header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: $tam-base;
    color: $azul-claro;
    align-items: center;

    a{
        display: flex;
        align-items: end;
    }

    ul{
        display: flex;
        gap: $tam-base;
    }
}