@import "reset";
@import "variables";
@import "header";
@import "slider";
@import "servicios";
@import "portfolio";
@import "equipo";
@import "footer";

#wrapper{
    display: grid;
    gap: $tam-base;
    padding: 0px $tam-base;
}

.section-header{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;

    h2{
        font-size: $tam-base * 1.5;
    }
}