@import "reset";
$tam-base: 1em;

$tipografia: "mesmerize-bd";

@font-face {
  font-family: $tipografia;
  src: url("font/" + $tipografia + ".ttf");
}

h1, h3, p{
    font-family: $tipografia;
  }

body{
    background-color: rgb(149, 140, 135);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    flex-basis: 100%;
    padding: $tam-base;
    background-color: rgb(68, 63, 57);
    color: white;
    text-align: center;

    h1{
        font-size: $tam-base * 3;
    }
}

#container{
    padding: $tam-base;
    flex-basis: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: $tam-base;

    article{
        flex-basis: 20%;
        box-shadow: -0px 0px 20px black;
        display: flex;
        flex-direction: column;
        .imagen{
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .nombre{
            background-color: rgb(179, 211, 234);
            text-align: center;
            padding: $tam-base;
        }

        .subtitulo{
            padding: 1em;
            background-color: rgb(233, 232, 230);
            text-align: center;
            font-size: $tam-base * 0.7;
        }
    }
}

footer{
    background-color: rgb(68, 63, 57);
    flex-basis: 100%;
    padding: $tam-base;
    text-align: center;
    color: white;
}