.paisaje{
    width: 200px;
    height: 200px;
    margin: 1em;
    border: 2px solid black;

    background-image: url("https://media.istockphoto.com/id/1407786189/es/foto/la-ma%C3%B1ana-del-lago-con-hojas-de-color-rojo.jpg?s=612x612&w=0&k=20&c=g42vMKg2vYZKCFOJjF7PHKCR7k9cn3K4mhMEJ8Iv1bY=");
    background-size: cover;
    background-repeat: no-repeat;

    //transform: translate(300px, 300px);
    //transform: rotate(15deg);
    //transform: scale(2.4);
    //transform: skew(14deg, 10deg);

    transition: transform, opacity, backgr 5s ease-out 1s;

    &:hover{
        transform: skew(50deg, 90deg);
        opacity: 20%;
        background-color: aqua;
    }
}