* {
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
}

body{
  display: grid;
}

h1 {
  font-size: 3em;
}

header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 1em;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
nav ul li:hover {
  background-color: #0099cc;
}

aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 1em;
}

@media screen and (min-width: 0px){
  header {
    grid-column-end: span 12;
  }

  footer{
    grid-column-end: span 12;
  }
}

@media screen and (max-width: 758px){
  nav {
    grid-column-end: span 12;
  }
  
  main {
    grid-column-end: span 12;
  }

  aside{
    grid-column-end: span 12;
  }
}

@media screen and (min-width: 759px) and (max-width: 1199px) {
  nav {
    grid-column-end: span 3;
  }
  
  main {
    grid-column-end: span 9;
  }

  aside{
    grid-column-end: span 12;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    grid-column-end: span 3;
  }
  
  main {
    grid-column-end: span 6;
  }

  aside{
    grid-column-end: span 3;
  }
}